# Load UVM and create its base and tools device nodes when GPU is present. Minor 0 tells nvidia-modprobe to create both UVM nodes.
# This is usually done via NVIDIA libraries calling nvidia-modprobe; but containers lack the privileges to do that so we preload it here.
ACTION=="add", SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{class}=="0x030000|0x030200", RUN+="/usr/bin/nvidia-modprobe -u -c 0"

# Enable runtime PM for GPUs on driver bind
ACTION=="bind", SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{class}=="0x030000|0x030200", TEST=="power/control", ATTR{power/control}="auto"

# Disable runtime PM for GPUs on driver unbind
ACTION=="unbind", SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{class}=="0x030000|0x030200", TEST=="power/control", ATTR{power/control}="on"
